doctype html
html
  head
    meta(charset="utf-8")
    title 7PAY
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="css/normalize.css")
    link(rel="stylesheet", type="text/css", href="css/all.css")
  body
    
    #page
      
      .page-container
        
        include sections/content.jade
        
        include sections/contact.jade
        
        include sections/btc-chart.jade
        
        include sections/about.jade
        
        include sections/reserve.jade
        
        include sections/footer.jade
           
    script(src="scripts/jquery-3.1.0.min.js")
    script(src="scripts/functions.js")

      
