@import variables.sass

.content
  .main-header
    .pop-up-container
      perspective: 1000px
      #entrance
        width: 100%
        max-width: 940px
        height: 450px
        background-color: white
        position: relative
        transform-origin: 0% 0%
        &.show
          display: block
          margin: 0 auto
          animation:
            name: spindown
            duration: 400ms
            timing-function: ease-in-out
            fill-mode: forwards
        h1
          position: relative
          color: $main-blue
          font-family: $myriad
          font-size: 30px
          background-color: #f1f1f1
          margin: 0
          text-align: center
          padding-top: 9px
          padding-bottom: 9px
          font-weight: 400
          .close
            cursor: pointer
            position: absolute
            top: 17px
            right: 40px
            width: 20px
            height: 20px
            transition: transform 50ms ease-in-out
            &:hover
              transform: scale(1.2)
              transition: transform 50ms ease-in-out

        form
          .container
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%
            max-width: 620px
            min-height: 180px

            .email,
            .password
              display: flex
              span:first-child
                margin-bottom: 15px
              span
                display: flex
                align-items: center
                justify-content: center
                height: 50px
                width: 100%
                max-width: 220px
                color: white
                background-color: #bbbbbb
                border-radius: 30px 0 0 30px
                font:
                  family: $open-sans
                  size: 30px
                  weight: 300

              input
                border: 0
                border-radius: 0 30px 30px 0
                background-color: #f1f1f1
                width: 100%
                max-width: 400px
                height: 50px
                color: #767676
                text-align: center
                font:
                  family: $open-sans
                  weight: 300
                  size: 30px
                &:focus
                  outline: none

            .sign-in
              +clearfix()
              .signin-btn,
              .reg-btn
                cursor: pointer
                height: 50px
                color: white
                font-family: $myriad-semibold
                font-size: 30px
                font-weight: 600
                border: 0
                border-radius: 30px
                &:focus
                  outline: none
              .signin-btn
                background-color: $main-green
                width: 100%
                max-width: 220px
              .reg-btn
                background-color: $main-blue
                width: 100%
                max-width: 380px
                float: right

@keyframes spindown
  0%
    opacity: .5
    transform: rotateX(-90deg)
    transition: transform 500ms ease-out
  100%
      opacity: 1
      transform: rotateX(0deg)
      transition: transform 500ms ease-out

@keyframes spinup
  0%
    opacity: 1
    transform: rotateX(0deg)
    transition: transform 500ms ease-out

  100%
      opacity: 1
      transform: rotateX(-90deg)
      transition: transform 500ms ease-out
