section.about
  .wrap
    .icon
      img(src="img/team-icon.png", alt="team-icon.png")
      span BTCrocket – команда специалистов,</br> которые используют индивидуальный</br> подход к задачам клиента.
    .icon
      img(src="img/armor-icon.png", alt="armor-icon.png") 
      span Каждый наш клиент</br> получает безопасное</br> и эффективное обслуживание. 
    .icon
      img(src="img/hand-icon.png", alt="hand-icon.png") 
      span Обменивайте Bitcoin,</br> Litecoin и другие криптовалюты с помощью надежного и удобного сервиса.
  
