section.contact#contact
    .wrap
      h1 +38 (067) 769-08-71
      .img-container
        span
          img(src="img/smartphone-icon.png", alt="smartphone-icon")
          span Call
        span
          img(src="img/whatsapp-icon.png", alt="whatsapp-icon")
          span WhatsApp
        span
          img(src="img/telegram-icon.png", alt="telegram-icon")
          span Telegram
        span
          img(src="img/wickr-icon.png", alt="wickr-icon")
          span Wickr
      .email
        .mail email: <span>info@7pay.me</span>
        .skype skype: <span>btc.rocket</span>
