section.content#content
  .successful
    h3 Спасибо!</br> Ваша Заявка отправлена на обработку.</br> С Вами свяжется наш менеджер!
    h3 BTC адрес: </br> ej8ufes8ousofuos
    button Продолжить
  header.main-header-fixed
    .shadow
    nav.main-nav
      .seven-pay 7
        span.pay PAY
      .nav-list
          a(href="#about") О НАС
          a.popup(href="#tarify") ТАРИФЫ
          a.popup(href="#faq") FAQ
          a(href="#contact") КОНТАКТЫ
          a.popup(href="#entrance") ВХОД
    .pop-up-container
      #entrance
        h1 ВХОД
          img.close(src="img/delete.svg", alt="close")
        form
          .container
            .email
              span Email
              input(type="email", placeholder="example@mail.com")
            .password
              span Пароль
              input(type="password", placeholder="••••••••")
            .sign-in
              button.signin-btn(type="submit") Войти
              button.reg-btn Зарегистрироваться
      #faq
        h1 FAQ
          img.close(src="img/delete.svg", alt="close")
        .info          
          span Нужно ли регистрироваться на сайте для осуществления обменов?
          br
          br
          |Не обязательно, но для зарегистрированных пользователей станут доступны дополнительные сервисы, они смогут получать информацию о действующих акциях и принимать участие в программе лояльности.
          br
          br
          span Bitcoin - это безопасно?
          br
          br
          |Если правильно использовать Bitcoin, то данная система (технология) может предоставить высокий уровень безопасности. Монеты Bitcoin хранятся в файле кошелька на вашем личном компьютере и в ваших интересах никому не передавать адрес и доступ к нему. Для укрепления безопасности вы можете создавать резервные копии (backup) файла кошелька bitcoin и сохранять их на внешних носителях.
          br
          br
          span Как начать принимать платежи?
          br
          br
          |Вам необходимо зарегестрировать кошелек на одном из популярных сервисов (в он-лайн версии на сайте, либо путем установки приложения на мобильный телефон/планшет или компьютер).
          br
          br
          span Насколько быстро я получу свои деньги/Bitcoin?
          br
          br
          |BTCrocket обрабатывает заявку на ввод/вывод средств мгновенно, но специфика работы в сети Bitcoin подразумевает необходимость подтверждения сделки от 30 минут до 24 часов.
          br
          br
          span Если я не пользуюсь Bitcoin-адресом, могу ли я его удалить?
          br
          br
          |акой возможности нет, т.к. функция удаления адреса не предусмотрена. Возможно, вам он еще будет полезен, в ином случае - просто не обращайте на него внимания.
          br
          br
          span Смогу ли я получить Bitcoin, если мой компьютер выключен?
          br
          br
          |После подтверждения сделки, Bitcoin поступает в публичный реестр, который находится на всех входящих в сеть устройствах. Как только вы запустите программу с кошельком - Bitcoin сразу там появятся.
          br
          br
          span Я потерял доступ в свой кошелeк-Bitcoin. Есть ли шанс восстановить свои деньги?
          br
          br
          |Нет. Деньги восстановить невозможно. Таким образом усиливается уровень безопасности (специфика работы системы Bitcoin).    
      #tarify
        h1 ТАРИФЫ
          img.close(src="img/delete.svg", alt="close")
        .info
          h5 Пользовательское Соглашение
          |Настоящее соглашение описывает условия, на основании которых предоставляются услуги сервиса "BTCrocket". Перед использованием настоящего сервиса лицо обязано полностью прочитать и согласиться с нижеследующим. В случае отказа от прочтения либо несогласия с содержимым - сервис лицу не предоставляется.
          |Данное соглашение расположено для публичного доступа в Интернете на странице BTCrocket и может быть изменено Руководством сервиса в одностороннем порядке без дополнительного уведомления Пользователя.
          br
          br
          |Сторонами данного соглашения являются «BTCrocket» (далее «Сервис») и физическое лицо, использующее Сервис (далее «Пользователь»).
          br
          br
          span 1. Применяемые термины и определения 
          br
          br
          |1.1. «BTCrocket» — сервис предоставления доступа к использованию Bitcoin. Возможности Сервиса поставляются Пользователю при помощи защищенного Интернет-сайта btcrocket.com;
          br
          br
          |1.2. Пользователь — физическое лицо, использующее Возможности Сервиса. Другим лицам использование Сервиса запрещается;
          br
          br
          |1.3. Bitcoin — электронная единица учета, хранящаяся в децентрализованной, публичной базе данных blockchain, обладающая свойством невозвратности и неподдельности транзакций;
          br
          br
          |1.4. Платежная система — программно-аппартный комплекс, разработанный третьей стороной и представляющий собой механизм реализации учета финансовых или других обязательств и организацию взаиморасчетов между пользователями;
          br
          br
          |1.5. Возможности Сервиса — совершение операции перевода Bitcoin, а также другие возможности по работе с Bitcoin, информация о которых размещена на страницах сайта Сервиса;
          br
          br
          |1.6. Платеж (транзакция) — процедура смены обладателя электронной валюты, bitcoin или другой валюты;
          br
          br
          span 2. Введение
          br
          br
          |2.1. Настоящее Cоглашение регламентирует отношения между Пользователем и Сервисом в вопросе получения Пользователем возможности использовать Bitcoin посредством Сервиса;
          br
          br
          |2.2. Данное соглашение не отменяет действующего законодательства стран регистрации и местонахождения Сервиса и Пользователя и/или договорных отношений между Пользователем и Платежными системами. В случае, если согласно действующего законодательства или иных обязательств Пользователь не имеет права пользоваться Возможностями Сервиса, то использование Сервиса запрещено;
          br
          br
          |2.3. Сервис гарантирует и обеспечивает конфиденциальность информации о Пользователе и его операциях. Сервис может предоставлять персональную информацию по требованию уполномоченных государственных органов и/или представителей Платежных систем, но при обязательном соблюдении законных оснований;
          br
          br
          span 3. Предмет соглашения
          br
          br
          |3.1. Предметом данного соглашения являются обязательство Сервиса хранить, обеспечивать ввод, вывод, получение и возмещение Bitcoin, принадлежащих Пользователю, по поручению Пользователя;
          br
          br
          |3.2. Сервис не берет на себя обязательства проверки правомерности владения Пользователем Электронными валютами, bitcoin и/или финансовыми средствами и не осуществляет надзор за операциями Пользователя в Платежных систамах;
          br
          br
          |3.3. Платежные системы и/или финансовые учреждения несут исключительную ответственность за средства, вверенные им Пользователем. Сервис не может являться стороной в соглашении между Платежной системой и/или финансовым учреждением и Пользователем и не несет ответственности за противоправное использование возможностей Платежной системы Пользователем и также за злоупотребление Пользователем функциональностью Платежной системы. Взаимные права и обязанности Пользователя и Платежной системы и/или финансового учреждения регулируются соответствующими договорами;
          br
          br
          |3.4. Любая завершенная операция по электронной валюте, а также иная операция, предлагаемая Сервисом Пользователю, считается невозвратной, т.е. той, которая не может быть отменена (Пользователь получает причитающиеся ему средства по изначально акцептованным условиям);
          br
          br
          |3.5. Сервис имеет право приостановить или отменить выполняющуюся операцию, если получит достоверную информацию о неправомерном владения Пользователем электронными
          |Выделить сообщение
          |валютами или финансовыми средствами и/или иную информация, делающую невозможным пользование Сервисом;
          br
          br
          |3.6. Сервис имеет право приостановить или отменить выполняющуюся операцию, если Пользователь нарушает условия данного Соглашения;
          br
          br
          |3.7. Сервис имеет право отменить выполняющуюся операцию и вернуть внесенные Пользователем электронные валюты и/или финансовые средства без объяснения причин;
          br
          br
          |3.8. Пользователь соглашается:
          br
          br
          |- исключить любые действия или пособничество к действиям в: незаконной торговле, проведении финансовых махинаций, использовании Сервиса для создания и распространения финансовых пирамид, финансирования терроризма, совершения других незаконных действий;
          br
          br
          |- не осуществлять действия, которые могут нанести прямой или косвенный вред борьбе с отмыванием и легализацией денежных средств, полученных незаконным путем;
          br
          br
          |- не использовать Bitcoin как платежное средство на территории Украины;
          br
          br
          |3.9. Сервис соглашается в рамках действующего законодательства предпринимать все действия для предотвращения: незаконной торговли, финансовых махинаций, легализации денежных средств полученных преступным путем, финансирования терроризма, других нарушающих законодательство действий. Также:
          br
          br
          |- в рамках действующего законодательства и взятых на себя настоящим Соглашением обязательств оказывать помощь правоохранительным органам в розыске и поимке преступников, использующих Возможности Сервиса;
          br
          br
          |- улучшать Сервис для предотвращения использования Сервиса в незаконной деятельности;
          br
          br
          span 4. Возможности Сервиса
          br
          br
          |4.1. Сервис обеспечивает сохранность Bitcoin, которые Пользователь вверил Сервису на хранение;
          br
          br
          |4.2. Сервис обеспечивает Возможность для Пользователя заводить личный Bitcoin-кошелек, отправлять и получать на него Bitcoin в объемах, ввереных Пользователем Сервису;
          br
          br
          |4.3. Сервис обеспечивает идентификацию Пользователя - как лица, имеющего доступ к электронной почте Пользователя и мобильному телефонному номеру (имеющему возможность принимать sms-сообщения), которые Пользователь указал при своей регистрации на сайте;
          br
          br
          span 5. Финансовые условия
          br
          br
          |5.1. Сервис осуществляет передачу прав собственности на Bitcoin Пользователю и приемку прав собственности на Bitcoin от Пользователя согласно тарифам, указаным на сайте Сервиса;
          br
          br
          |5.2. Иные тарифы и условия определяются руководством Сервиса и публикуются на главной и внутренних страницах сайта Сервиса;
          br
          br
          |5.3. Руководство Сервиса имеет право изменять тарифы Сервиса без дополнительных уведомлений;
          br
          br
          span 6. Налогообложение
          br
          br
          |6.1. Сервис не является налоговым агентом для Пользователя и не уведомляет Пользователя о его налоговых обязательствах. Пользователь самостоятельно оплачивает любые налоги, требуемые налоговым законодательством по месту его проживания;
          br
          br
          |6.2. В случае, если государственные органы законно требуют от Сервиса уплаты налогов Пользователя или покрытия задолженности, возникшей в результате отказа Пользователя платить налоги, Пользователь соглашается возместить Сервису все понесенные в связи с этим затраты;
          br
          br
          span 7. Гарантии и ответственность сторон
          br
          br
          |7.1. Сервис предоставляется на условиях «как есть» - так, как описано на страницах сайта Сервиса;
          br
          br
          |7.2. Сервис гарантирует исполнение обязательств перед Пользователем в пределах сумм, вверенных Пользователем Сервису для осуществления операции;
          br
          br
          |7.3. Сервис обязуется поддерживать, но не гарантирует свою круглосуточную и ежедневную (24/7) доступность. Сервис не несет ответственность за убытки, неполученную прибыль и иные издержки Пользователя, возникшие в результате невозможности получения доступа к сайту Сервиса;
          br
          br
          |7.4. Сервис не несет ответственности за убытки, неполученную прибыль и иные издержки Пользователя, явившиеся результатом задержек, ошибок или сбоев в проведении банковских платежей или электронных переводов;
          br
          br
          |7.5. Пользователь гарантирует, что является владельцем или имеет право на распоряжения средствами, которыми он пользуется в своих транзакциях;
          br
          br
          |7.6. Пользователь обязуется не фальсифицировать коммуникационные потоки, связанные с
          |Выделить сообщение
          |функционированием Сервиса;
          br
          br
          |7.7. Пользователь признает, что содержимое сайта Сервиса попадает под защиту законодательства об охране права интеллектуальной собственности и авторского права;
          br
          br
          span 8. Форс-мажор
          br
          br
          |8.1. Ни Пользователь, ни Сервис не несут ответственность друг перед другом за задержки или неисполнение своих обязательств в следствии возникновения обстоятельств непреодолимой силы, включая стихийные бедствия, пожар, наводнение, террористические акты, смену власти, а также неработоспособность Платежных систем, систем энергоснабжения, сетей связи, служб доставки SMS или поставщиков Интернет-услуг.   
      #confidentiality
        h1 конфиденциальность   
          img.close(src="img/delete.svg", alt="close") 
        .info
          h5 Пользовательское Соглашение
          br
          br
          |Настоящее соглашение описывает условия, на основании которых предоставляются услуги сервиса "BTCrocket". Перед использованием настоящего сервиса лицо обязано полностью прочитать и согласиться с нижеследующим. В случае отказа от прочтения либо несогласия с содержимым - сервис лицу не предоставляется.
          |Данное соглашение расположено для публичного доступа в Интернете на странице BTCrocket и может быть изменено Руководством сервиса в одностороннем порядке без дополнительного уведомления Пользователя.
          br
          br
          |Сторонами данного соглашения являются «BTCrocket» (далее «Сервис») и физическое лицо, использующее Сервис (далее «Пользователь»).
          br
          br
          span 1. Применяемые термины и определения
          br
          br
          |1.1. «BTCrocket» — сервис предоставления доступа к использованию Bitcoin. Возможности Сервиса поставляются Пользователю при помощи защищенного Интернет-сайта btcrocket.com;
          br
          br
          |1.2. Пользователь — физическое лицо, использующее Возможности Сервиса. Другим лицам использование Сервиса запрещается;
          br
          br
          |1.3. Bitcoin — электронная единица учета, хранящаяся в децентрализованной, публичной базе данных blockchain, обладающая свойством невозвратности и неподдельности транзакций;
          br
          br
          |1.4. Платежная система — программно-аппартный комплекс, разработанный третьей стороной и представляющий собой механизм реализации учета финансовых или других обязательств и организацию взаиморасчетов между пользователями;
          br
          br
          |1.5. Возможности Сервиса — совершение операции перевода Bitcoin, а также другие возможности по работе с Bitcoin, информация о которых размещена на страницах сайта Сервиса;
          br
          br
          |1.6. Платеж (транзакция) — процедура смены обладателя электронной валюты, bitcoin или другой валюты;
          br
          br
          span 2. Введение
          br
          br
          |2.1. Настоящее Cоглашение регламентирует отношения между Пользователем и Сервисом в вопросе получения Пользователем возможности использовать Bitcoin посредством Сервиса;
          br
          br
          |2.2. Данное соглашение не отменяет действующего законодательства стран регистрации и местонахождения Сервиса и Пользователя и/или договорных отношений между Пользователем и Платежными системами. В случае, если согласно действующего законодательства или иных обязательств Пользователь не имеет права пользоваться Возможностями Сервиса, то использование Сервиса запрещено;
          br
          br
          |2.3. Сервис гарантирует и обеспечивает конфиденциальность информации о Пользователе и его операциях. Сервис может предоставлять персональную информацию по требованию уполномоченных государственных органов и/или представителей Платежных систем, но при обязательном соблюдении законных оснований;
          br
          br
          span 3. Предмет соглашения
          br
          br
          |3.1. Предметом данного соглашения являются обязательство Сервиса хранить, обеспечивать ввод, вывод, получение и возмещение Bitcoin, принадлежащих Пользователю, по поручению Пользователя;
          br
          br
          |3.2. Сервис не берет на себя обязательства проверки правомерности владения Пользователем Электронными валютами, bitcoin и/или финансовыми средствами и не осуществляет надзор за операциями Пользователя в Платежных систамах;
          br
          br
          |3.3. Платежные системы и/или финансовые учреждения несут исключительную ответственность за средства, вверенные им Пользователем. Сервис не может являться стороной в соглашении между Платежной системой и/или финансовым учреждением и Пользователем и не несет ответственности за противоправное использование возможностей Платежной системы Пользователем и также за злоупотребление Пользователем функциональностью Платежной системы. Взаимные права и обязанности Пользователя и Платежной системы и/или финансового учреждения регулируются соответствующими договорами;
          br
          br
          |3.4. Любая завершенная операция по электронной валюте, а также иная операция, предлагаемая Сервисом Пользователю, считается невозвратной, т.е. той, которая не может быть отменена (Пользователь получает причитающиеся ему средства по изначально акцептованным условиям);
          br
          br
          |3.5. Сервис имеет право приостановить или отменить выполняющуюся операцию, если получит достоверную информацию о неправомерном владения Пользователем электронными
          |Выделить сообщение
          |валютами или финансовыми средствами и/или иную информация, делающую невозможным пользование Сервисом;
          br
          br
          |3.6. Сервис имеет право приостановить или отменить выполняющуюся операцию, если Пользователь нарушает условия данного Соглашения;
          br
          br
          |3.7. Сервис имеет право отменить выполняющуюся операцию и вернуть внесенные Пользователем электронные валюты и/или финансовые средства без объяснения причин;
          br
          br
          |3.8. Пользователь соглашается:
          br
          br
          |- исключить любые действия или пособничество к действиям в: незаконной торговле, проведении финансовых махинаций, использовании Сервиса для создания и распространения финансовых пирамид, финансирования терроризма, совершения других незаконных действий;
          br
          br
          |- не осуществлять действия, которые могут нанести прямой или косвенный вред борьбе с отмыванием и легализацией денежных средств, полученных незаконным путем;
          br
          br
          |- не использовать Bitcoin как платежное средство на территории Украины;
          br
          br
          |3.9. Сервис соглашается в рамках действующего законодательства предпринимать все действия для предотвращения: незаконной торговли, финансовых махинаций, легализации денежных средств полученных преступным путем, финансирования терроризма, других нарушающих законодательство действий. Также:
          br
          br
          |- в рамках действующего законодательства и взятых на себя настоящим Соглашением обязательств оказывать помощь правоохранительным органам в розыске и поимке преступников, использующих Возможности Сервиса;
          br
          br
          |- улучшать Сервис для предотвращения использования Сервиса в незаконной деятельности;
          br
          br
          span 4. Возможности Сервиса
          br
          br
          |4.1. Сервис обеспечивает сохранность Bitcoin, которые Пользователь вверил Сервису на хранение;
          br
          br
          |4.2. Сервис обеспечивает Возможность для Пользователя заводить личный Bitcoin-кошелек, отправлять и получать на него Bitcoin в объемах, ввереных Пользователем Сервису;
          br
          br
          |4.3. Сервис обеспечивает идентификацию Пользователя - как лица, имеющего доступ к электронной почте Пользователя и мобильному телефонному номеру (имеющему возможность принимать sms-сообщения), которые Пользователь указал при своей регистрации на сайте;
          br
          br
          span 5. Финансовые условия
          br
          br
          |5.1. Сервис осуществляет передачу прав собственности на Bitcoin Пользователю и приемку прав собственности на Bitcoin от Пользователя согласно тарифам, указаным на сайте Сервиса;
          br
          br
          |5.2. Иные тарифы и условия определяются руководством Сервиса и публикуются на главной и внутренних страницах сайта Сервиса;
          br
          br
          |5.3. Руководство Сервиса имеет право изменять тарифы Сервиса без дополнительных уведомлений;
          br
          br
          span 6. Налогообложение
          br
          br
          |6.1. Сервис не является налоговым агентом для Пользователя и не уведомляет Пользователя о его налоговых обязательствах. Пользователь самостоятельно оплачивает любые налоги, требуемые налоговым законодательством по месту его проживания;
          br
          br
          |6.2. В случае, если государственные органы законно требуют от Сервиса уплаты налогов Пользователя или покрытия задолженности, возникшей в результате отказа Пользователя платить налоги, Пользователь соглашается возместить Сервису все понесенные в связи с этим затраты;
          br
          br
          span 7. Гарантии и ответственность сторон
          br
          br
          |7.1. Сервис предоставляется на условиях «как есть» - так, как описано на страницах сайта Сервиса;
          br
          br
          |7.2. Сервис гарантирует исполнение обязательств перед Пользователем в пределах сумм, вверенных Пользователем Сервису для осуществления операции;
          br
          br
          |7.3. Сервис обязуется поддерживать, но не гарантирует свою круглосуточную и ежедневную (24/7) доступность. Сервис не несет ответственность за убытки, неполученную прибыль и иные издержки Пользователя, возникшие в результате невозможности получения доступа к сайту Сервиса;
          br
          br
          |7.4. Сервис не несет ответственности за убытки, неполученную прибыль и иные издержки Пользователя, явившиеся результатом задержек, ошибок или сбоев в проведении банковских платежей или электронных переводов;
          br
          br
          |7.5. Пользователь гарантирует, что является владельцем или имеет право на распоряжения средствами, которыми он пользуется в своих транзакциях;
          br
          br
          |7.6. Пользователь обязуется не фальсифицировать коммуникационные потоки, связанные с
          |Выделить сообщение
          |функционированием Сервиса;
          br
          br
          |7.7. Пользователь признает, что содержимое сайта Сервиса попадает под защиту законодательства об охране права интеллектуальной собственности и авторского права;
          br
          br
          span 8. Форс-мажор
          br
          br
          |8.1. Ни Пользователь, ни Сервис не несут ответственность друг перед другом за задержки или неисполнение своих обязательств в следствии возникновения обстоятельств непреодолимой силы, включая стихийные бедствия, пожар, наводнение, террористические акты, смену власти, а также неработоспособность Платежных систем, систем энергоснабжения, сетей связи, служб доставки SMS или поставщиков Интернет-услуг.
          br
          br
              
  header.main-header
    nav.main-nav
      .seven-pay 7
        span.pay PAY
      .nav-list
          a(href="#about") О НАС
          a.popup(href="#tarify") ТАРИФЫ
          a.popup(href="#faq") FAQ
          a(href="#contact") КОНТАКТЫ
          a.popup(href="#entrance") ВХОД
  .currency-stripe
    .wrap
      .currency
        div <span>BTC/PM:</span>&nbsp;696.23/640.06 <span>USD </span>    
        div <span>LTC/PM:</span>&nbsp;4.19/3.83 <span>USD<span/>  
        div <span>BTC/LTC:</span>&nbsp;173.05/156.16 <span>LTC</span>

    
  .fill-application
    form#main-form(action="getinfo.php", method="post")
      .switch-container
        .left-input
          span.heading Вы отдаете
          div
            ul.switcher 
              li.current-currency USD
                span.arrow
              li USD
              li UAH
              li BTC
            input#ugive(type="text", placeholder="00.00", name="ugive")
              
        .right-input
          span.heading Вы получаете
          div
            ul.switcher 
              li.current-currency BTC
                span.arrow
              li USD
              li UAH
              li BTC
            input#uget(type="text", placeholder="00.00", name="uget")
              
      .add-info
        span.heading Внесите свои данные:
        .mail
          span.envelope
            img(src="img/email.png")
          input(type="email", name="email")
          .hint.email 
            span Это поле не заполнено!
              span.triangle
          
        .phone-number
          span.phone
            img(src="img/phone.png")
          input(type="text", name="phonenumber")
          .hint.number
            span Это поле не заполнено!
              span.triangle
            
        button(type="submit", value="send data", name="submit") Оформить заявку!
        .loader-submit

          

        
