footer.sevenpay-footer
  .wrap
    a(href="#") Обмен
    a(href="#") Тарифы
    a(href="#") Конфиденциальность
    a(href="#") О нас
    a(href="#") FAQ
    a(href="#") Контакты
    a(href="#") Новости
    
    
    
    
    
    
