footer.sevenpay-footer
  .wrap
    a(href="#content") Обмен
    a.popup(href="#tarify") Тарифы
    a.popup(href="#confidentiality") Конфиденциальность
    a(href="#about") О нас
    a.popup(href="#faq") FAQ
    a(href="#contact") Контакты
    a(href="#") Новости
    
    
    
    
    
    
